section.destinations
    .container
        .destinations__inner
            .destinations__head
                h2.destinations__title Featured destinations
                |
                |
                a.destinations__link(href="#") View all >
            .destinations__items
                +destinatioItem('Raja Ampat', 'Indonesia', 'dest1', '.png', 'Indonesia')
                +destinatioItem('Fanjingshan', 'China', 'dest2', '.png', 'China')
                +destinatioItem('Vevey', 'Switzerland', 'dest3', '.png', 'Switzerland')
                +destinatioItem('Skadar', 'Montenegro', 'dest4', '.png', 'Montenegro')