section.intro
    .container.container--big
        .intro__inner
            .intro__content
                h1.intro__title Explore and Travel
                include holiday_finder
            .intro__img
                +webp('intro', '.png', 'Intro')