section.explore
    .container
        .explore__inner
            .explore__img
                +webp('explore', '.png', 'Explore')
            .explore__content
                h2.explore__title A new way to explore the world
                p.explore__text.
                    For decades travellers have reached for Lonely Planet books when looking to plan and execute their perfect 
                    trip, but now, they can also let Lonely Planet Experiences lead the way
                button.button Learn more