extends layout/main

block variables 
    - var title = "Travel"
    - var pageUrl = '/'


block content
    include modules/intro/intro
    include modules/explore/explore
    include modules/destinations/destinations
    include modules/app/app
    include modules/testimonials/testimonials
    include modules/stories/stories