include ../helpers/mixins

block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.css")
        title #{title}
    body
        include ../modules/loader
        include ../modules/svg_sprites
        include ../modules/header
        main
            block content
        include ../modules/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="js/Select.js", defer)
    script(src="js/Slider.js", defer)
    script(src="js/main.js", defer)