@import "variables";
@import "helpers";
@import "fonts";
@import "select";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    &.loaded {
        .loader__wrap {
            display: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    color: $text;
    font-size: 17px;
    line-height: 1.8;
}

hr {
    background-color: #c4c4c4;
    border: none;
    height: 1px;
    width: 100%;
}

.button {
    font-size: 16px;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    background-color: $button;
    border-radius: 8px;
    padding: 10px 35px;
    border: 1px solid $button;
    cursor: pointer;
    @include transition(background-color, color);
    &:hover {
        color: $button;
        background-color: #fff;
    }
    &.stroked {
        background-color: #fff;
        color: $button;
        &:hover {
            color: #fff;
            background-color: $button;
        }
    }
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    &.container--big {
        max-width: 1220px;
    }
}

/* LOADER =======================*/
.loader {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: $button;
    border-radius: 50%;
    animation: loader 2s infinite;

    &__wrap {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999999;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
    }
}

body.loaded_hiding {
    .preloader__wrap {
        transition: 0.3s opacity;
        opacity: 0;
    }
}

@keyframes loader {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

/* HEADER =======================*/
.header {
    margin-top: 45px;
    margin-bottom: 75px;
    font-family: "Inter", sans-serif;
    &__inner {
        @include flex;
    }
    .nav {
        @include flex;
        align-items: center;
    }
}

.nav {
    .button {
        &:not(:last-child) {
            margin-right: 18px;
        }
    }
    &__list {
        @include flex;
        list-style-type: none;
    }
    &__item {
        margin-right: 35px;
    }
    &__link {
        color: $navItem;
        @include transition(color);
        &.nav__item--active {
            color: $navItemActive;
            font-weight: 500;
        }
        &:hover {
            color: $navItemActive;
        }
    }
}

/* INTRO =======================*/
.intro {
    margin-bottom: 270px;
    &__inner {
        @include flex;
    }
    &__title {
        font-size: 64px;
        line-height: 1.25;
        max-width: 356px;
        margin-bottom: 74px;
        color: $navItemActive;
    }
    &__img {
        margin-right: -75px;
    }
    &__content {
        margin-top: 70px;
    }
}
.finder {
    &__title {
        color: $navItemActive;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        &::after {
            content: "";
            display: block;
            margin: 21px 0 48px 0;
            width: 32px;
            height: 2px;
            background: $navItemActive;
        }
    }
    &__options {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        max-width: 471px;
        width: 100%;
        margin-bottom: 47px;
    }
}

/* EXPLORE =======================*/
.explore {
    margin-bottom: 260px;
    &__inner {
        @include flex;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__img {
        margin-left: -75px;
    }
    &__content {
        margin-top: 120px;
        max-width: 470px;
    }
    &__text {
        margin-bottom: 33px;
    }
}

/* DESTINATIONS =======================*/
.destinations {
    margin-bottom: 230px;
    &__head {
        @include flex;
        margin-bottom: 55px;
    }
    &__link {
        font-weight: 600;
        color: $button;
        font-family: "Inter", sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
    &__img {
        width: 260px;
        img {
            border-radius: 6px;
        }
    }
    &__items {
        @include flex;
        flex-wrap: wrap;
    }
    &__item {
        position: relative;
    }
    &__text {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #fff;
        border-radius: 0px 6px 0px 0px;
        padding: 15px 20px 0 0;
        font-family: "Inter", sans-serif;
    }
    &__city {
        color: #042521;
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 5px;
    }
    &__country {
        color: $text;
        font-size: 14px;
    }
}

/* APP =======================*/
.app {
    margin-bottom: 250px;
    &__inner {
        @include flex;
    }
    &__content {
        margin-top: 115px;
    }
    &__title {
        max-width: 350px;
        margin-bottom: 20px;
    }
    &__text {
        max-width: 450px;
        margin-bottom: 40px;
    }
}

/* TESTIMONIALS =======================*/
.testimonials {
    margin-bottom: 250px;
    &__title {
        margin-bottom: 45px;
    }
    &__slider {
        position: relative;
        height: 492px;
    }
}
.slider {
    &__item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        @include flex;
        align-items: center;
        opacity: 0;
        @include transition(opacity);
        &.active {
            opacity: 1;
        }
    }
    &__stars {
        display: flex;
        margin-bottom: 30px;
    }
    &__star {
        width: 25px;
        height: 25px;
        background-image: url("../img/star.svg");
        background-size: cover;
        margin-right: 10px;
    }
    &__quote {
        display: block;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 40px;
    }
    &__controls {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #fff;
        padding: 10px 2px 2px 10px;
        border-radius: 16px 0px 0px 0px;
    }
    &__arrow {
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0.6;
        user-select: none;
        @include transition(opacity);
        &:hover {
            opacity: 1;
        }
        &.prev {
            transform: rotate(180deg);
        }
    }
}
.slider__item {
    .item {
        &__content {
            max-width: 450px;
            font-family: "Inter", sans-serif;
        }
        &__name {
            font-size: 22px;
            font-weight: 700;
            line-height: 2;
        }
        &__job {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.85);
        }
        &__img {
            img {
                border-radius: 6px;
            }
        }
    }
}

/* STORIES =======================*/
.stories {
    margin-bottom: 250px;
    &__head {
        @include flex;
        margin-bottom: 55px;
    }
    &__link {
        font-weight: 600;
        color: $button;
        font-family: "Inter", sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
    &__items {
        @include flex;
        flex-wrap: wrap;
    }
}
.stories__items {
    .story {
        max-width: 260px;
        font-family: "Inter", sans-serif;
        &__img {
            width: 260px;
            height: 225px;
            background-position: top;
            border-radius: 6px 6px 0 0;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 18px;
            line-height: 1.58;
            margin-bottom: 13px;
            font-family: inherit;
        }
        &__text {
            font-size: 15px;
            line-height: 1.7;
            margin-bottom: 23px;
            max-width: 90%;
        }
        &__link {
            color: $button;
            font-size: 15px;
            line-height: 1.87;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* FOOTER =======================*/
.footer {
    padding-top: 75px;
    background-color: #f9f9fb;
    padding-bottom: 32px;
    color: $footerText;
    &__info {
        @include flex;
        margin-bottom: 50px;
    }
    &__content {
        max-width: 340px;
    }
    &__logo {
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 50px;
        font-size: 17px;
        line-height: 1.56;
        font-weight: 300;
    }
    &__copy {
        font-weight: 300;
    }
    .list {
        list-style-type: none;
        &__title {
            font-size: 19px;
            font-family: inherit;
            margin-bottom: 30px;
        }
        &__item {
            a {
                font-weight: 300;
                font-size: 18px;
                color: $footerText;
                line-height: 2.1;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__socialmedia {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialmedia__icon {
        cursor: pointer;
        margin: 0 15px;
        @include transition(fill);
        &.twitter {
            @include size(25, 20);
            &:hover {
                fill: rgb(0, 153, 255);
            }
        }
        &.facebook {
            @include size(10, 22);
            &:hover {
                fill: blue;
            }
        }
        &.insta {
            @include size(22, 22);
            &:hover {
                fill: rgb(133, 26, 175);
            }
        }
        &.in {
            @include size(22, 23);
            &:hover {
                fill: blue;
            }
        }
        &.youtube {
            @include size(28, 20);
            &:hover {
                fill: red;
            }
        }
    }
}

/* MEDIA =======================*/
@media (max-width: 1500px) {
    .intro__img {
        margin-right: 0;
    }
}

@media (max-width: 1255px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .intro {
        &__img {
            img {
                max-width: 550px;
            }
        }
        &__content {
            margin-top: 40px;
        }
    }
    .explore {
        &__img {
            margin-left: 0;
            img {
                max-width: 500px;
            }
        }
        &__content {
            margin-top: 40px;
        }
    }
}

@media (max-width: 1100px) {
    .destinations,
    .stories {
        &__items {
            justify-content: center;
        }
        &__item {
            margin: 10px;
        }
    }
    .stories {
        .story {
            margin: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .intro {
        &__img {
            img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
        &__inner {
            flex-direction: column;
            justify-content: center;
        }
        &__content {
            margin-top: 0;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 900px) {
    .explore,
    .app {
        &__inner {
            flex-direction: column;
        }
        &__content {
            margin-top: 0;
            margin-bottom: 30px;
            max-width: 100%;
        }
        &__text,
        &__title {
            max-width: 100%;
        }
        &__img {
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .explore__inner {
        flex-direction: column-reverse;
    }

    .intro,
    .explore,
    .destinations,
    .app,
    .testimonials,
    .stories {
        margin-bottom: 100px;
    }
    .footer__content {
        display: none;
    }
    .intro {
        &__title {
            margin-bottom: 30px;
            max-width: 100%;
        }
        .finder {
            &__title {
                &::after {
                    margin-bottom: 20px;
                }
            }
            &__options {
                .select {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .nav__list {
        display: none;
    }
    .testimonials__slider {
        height: 400px;
        .item__img {
            display: none;
        }
        .item__content {
            max-width: 100%;
        }
    }
    .slider {
        &__controls {
            width: 100px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 550px) {
    .footer {
        &__info {
            flex-direction: column;
        }
        &__list {
            margin-bottom: 30px;
        }
        .list__title {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 400px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav {
        .button {
            margin: 0;
            padding: 7px 20px;
        }
    }
    .destination,
    .stories {
        &__title {
            font-size: 24px;
        }
    }
}
