section.app
    .container
        .app__inner
            .app__content
                h2.app__title Guides by Thousand Sunny
                p.app__text. 
                    Packed with tips and advice from our on-the-ground experts, our city guides app (iOS and Android) is the ultimate resource before and during a trip.
                button.button Download
            .app__img
                +webp('app', '.png', 'Download app')